# My .gitignore at the root level - avoid __pycache__
__pycache__/
venv/
.vscode/
dist/
build/
.github/
ID_photos/
backend/certs/*.pem
frontend/node_modules/
frontend/ios/App/Podfile.lock
# frontend/android
# frontend/ios
.env.prod
deploy/.env*
!deploy/.env*.example
*.pyc
.backend.pid
.frontend.pid
*.log
hlas_pg*_dump_*.sql
.DS_Store
*.swp
*.lock
*.lck